{% extends "base_generic.html" %}

{% block menu %}
  {% include "menu-bootstrap.html" %}
{% endblock %}

{% block content %}

<div class="row justify-content-md-center align-items-center ">
    <div class='col-md-7'>
        <p>
            Orcle! é uma plataforma de gestão de empréstimo de itens. O sistema pode ser aplicado sob dois escopos diferentes enquanto 
            um sitema de gestão de empréstimo de ites de uma organização, ou como gestão de empréstimo entre amigos (funcionando como uma rede social)

        </p>
        <p>
            O presente sistema foi desenvolvido como parte dos critérios de avaliação para aprovação na disciplina de Tópicos Especiais em Informática
            do curso de Análise e Desenvolvimento de Sistemas da FATEC - Ribeirão Preto sob orientação do Prof. Fabrício Henrique
        </p>
        <span class="h2">Autores</span>
        <p>
            <a href="https://github.com/alsgil13">André Luiz de Souza Gil</a> Matricula: 2840481613003
        </p>
        <p>
            <a href="https://github.com/carlosEoSilva">Carlos Eduardo Silva</a> Matrícula: 2840481623007
        </p>
    </div>
    <div class='col-md-7'>
        <h3>Função para baixar todos os dados do banco</h3>
        <a href="/borrows/download_all"><input type="button" class='btn btn-block btn-secondary' value="Baixar Tudo"></a>
    </div>
</div>
<div class="row justify-content-md-center logo">
    <div class='col-md-7'>

    </div>
</div>

{% endblock %}